<!-- client/src/app/groups/groups.component.html -->

<div *ngIf="isAdmin">
  <h2>Create a new Group</h2>
  <input [(ngModel)]="groupName" placeholder="Group Name" />
  <button (click)="createGroup()">Create Group</button>

  <h2>Add Channel to Group</h2>
  <select [(ngModel)]="selectedGroup">
    <option *ngFor="let group of availableGroups" [value]="group.name">{{ group.name }}</option>
  </select>
  <input [(ngModel)]="channelName" placeholder="Channel Name" />
  <button (click)="addChannel()">Add Channel</button>

  <h2>Assign User to Group</h2>
  <select [(ngModel)]="selectedGroup">
    <option *ngFor="let group of availableGroups" [value]="group.name">{{ group.name }}</option>
  </select>
  <input [(ngModel)]="username" placeholder="Username" />
  <button (click)="assignUser()">Assign User</button>
</div>

<!-- Display this if the user is not an admin -->
<div *ngIf="!isAdmin">
  <p>You do not have the permissions to manage groups or channels.</p>
</div>
