<div *ngIf="currentUser">
  <h3>Welcome, {{ currentUser.username }}!</h3>

  <h4>Your Groups:</h4>
  <ul *ngIf="userGroups.length > 0; else noGroups">
    <li *ngFor="let group of userGroups">{{ group.name }}</li>
  </ul>
  <ng-template #noGroups>
    <p>You are not part of any groups yet.</p>
  </ng-template>

  <h4>Your Channels:</h4>
  <ul *ngIf="userChannels.length > 0; else noChannels">
    <li *ngFor="let channel of userChannels">{{ channel }}</li>
  </ul>
  <ng-template #noChannels>
    <p>You are not part of any channels yet.</p>
  </ng-template>
</div>
