<nav>
  <ul>
    <li *ngIf="authService.isLoggedIn()" routerLinkActive="active">
      <a routerLink="/chat">Chat</a>
    </li>
    <li *ngIf="authService.isLoggedIn()" routerLinkActive="active">
      <a routerLink="/groups">Groups</a>
    </li>
    <li *ngIf="authService.isLoggedIn()" routerLinkActive="active">
      <a routerLink="/channels">Channels</a>
    </li>
    <li *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</li>
  </ul>
</nav>

<!-- Router outlet to load routed components -->
<router-outlet></router-outlet>
