nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #f8f9fa; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}


nav ul li {
    list-style-type: none;
    margin-right: 20px;
}


nav ul li a {
    text-decoration: none;
    color: #343a40; 
    font-weight: bold; 
    font-size: 16px;
}


nav ul li a:hover {
    color: #007bff; 
    text-decoration: underline; 
}


nav .logout-container {
    margin-left: auto; 
}


nav button {
    padding: 8px 15px; 
    background-color: #007bff; 
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 14px; 
    transition: background-color 0.3s ease; 
}

nav button:hover {
    background-color: #0056b3; 
}
